# Environment files
.env
.env.stage
*.env

# Python virtual environment
venv/

# Node modules
node_modules/
frontend/node_modules/
frontend/dist

# Python cache
__pycache__/
**/__pycache__/

# Logs
logs/
*.log

# Compiled / build artifacts
*.pyc
*.pyo
*.pyd
*.sqlite3

# IDE configuration
.idea/
.vscode/
